*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#0f172a;
    overflow:hidden;
}

.intro-container{
    text-align:center;
    animation:fadeIn 1s ease;
}

.logo{
    width:170px;
    margin-bottom:25px;
    animation:logoAnimation 1s ease;
}

h1{
    color:#ffffff;
    font-size:45px;
    margin-bottom:12px;
}

h1 span{
    color:#3b82f6;
}

p{
    color:#94a3b8;
    font-size:18px;
    margin-bottom:35px;
}

.loader{
    width:260px;
    height:6px;
    background:#1e293b;
    border-radius:50px;
    overflow:hidden;
    margin:auto;
}

.progress{
    width:0%;
    height:100%;
    background:#3b82f6;
    animation:loading 2s linear forwards;
}

@keyframes loading{
    100%{
        width:100%;
    }
}

@keyframes logoAnimation{
    from{
        transform:scale(.6);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}




